<table>

  <thead>
    <th> Title </th>
    <th> Raffle Date </th>
    <th> winner Customer </th>
    <th> Result </th>
    <th> Delivery Method </th>
    <th> Inventory </th>

  </thead>

  <% @raffles.each do |raffle| %>
  <tr>
    <td> <%= raffle.title %> </td>
    <td> <%= raffle.raffle_date %> </td>
    <td> <%= raffle.winner_customer_id %> </td>
    <td> <%= raffle.result %> </td>
    <td> <%= raffle.delivery_method %> </td>
    <td> <%= raffle.inventory %> </td>
    <td> <%= link_to  "show", raffle_path(raffle.id) %> </td>
  </tr>
  <% end %>
</table>