<%= render "layouts/nav" %>
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="products_details_left">
            <% raffle = Raffle.find_by(id: params[:id]) %>
            <span><%= button_to "Back", view_variants_path(raffle.variant.product.id),:class => "raffle_btn", :method => :get%>
            </span>
            </div>
        </div>
        <div class="col-md-6">
          <ul class="products_details_right">
            <li>Product Title:<%= @raffle.variant.product.shopify_product_title %>  </li>
            <li>Product Variant Title:<%= @raffle.variant.title %></li>
          </ul>
        </div>
      </div>
      <hr>
      <div style="overflow: scroll;">
      <table id="example" class="table table-striped table-bordered" style="width:100%;overflow: scroll;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <% if raffle.delivery_method == 'online' %>
                    <th>Address</th>
                <% end %>    
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
        <% @participant_customers.each do |customer| %>
            <tr>
                <td><%= customer.first_name + ' ' + customer.last_name %></td>
                <td><%= customer.email_id %></td>
                <% customer_address = Address.find_by(customer_id: customer.id, raffle_id: @raffle.id) %>
                <% if raffle.delivery_method == 'online' %>    
                      <% unless customer_address.nil? %>
                          <td>
                              <%= simple_format(customer_address.address + '<br/>' + customer_address.city + '&nbsp;' + customer_address.country + '&nbsp;' + customer_address.state  + '&nbsp;' + customer_address.pin.to_s) %>
                          </td>
                <% end %>
                      <% end %>
    
                <td><%= customer_address.phone %></td>
                      
            </tr>
        <% end %>
      </table>
    </div>
    </div>
</section>


<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
</body>
</html>